@model List<Mooc.Data.Entities.Course>

@{
    int count = Model.Count;
}


@if (count > 0)
{

    for (int i = 1; i <= count; i++)
    {

        var item = Model[i - 1];

        if (i % 5 == 1)
        {
            @:<div class="width100 float_l margin_b40">
                @:<div class="width_1200 margin_auto">
                    @:<div class="width100 float_l">
                    }

                    string margin_r20 = "";
                    if (i % 5 > 0)
                    {
                        margin_r20 = "margin_r20";
                    }
                    var imageUrl = @Url.Content("~/Home/Show?filename=") + item.CoverPic;
                    <a href="~/Home/ShowChapter?courseId=@item.ID">
                        <div class="width_224 height172 float_l @margin_r20 border_shadow jingguoxianshi over_pos bianshou">
                            <div class="width100 float_l img_100 z_inx_1">
                                <img src="@imageUrl">
                            </div>
                            <div class="img_backg2 donghua">
                                <span class="margin_t15 float_l ">@item.CourseName</span>
                                <span class="float_l fon_siz12 line_hei16 color_gray margin_t5 posi_relative ">@item.CourseDetail</span>
                            </div>
                            <div class="width100 float_l padding_lr20 height48 fon_siz12 line_hei48 z_inx_3 posi_relative backg_white">
                                <span class="float_l color_red">讲师：张三</span>
                                <span class="float_r color_gray"><span>499</span>人在学</span>
                            </div>
                        </div>
                    </a>

                    if (i % 5 == 0 || (i % 5 != 0 && i == count))
                    {
                    @:</div>
                @:</div>
            @:</div>

        }

    }

}
