@{

    int len = 35;
}


    @for (int i = 1; i <= len; i++)
    {
        if (i % 5 == 1)
        {
            @:<div class="xx">
            }
            <span>@i</span>
            if (i % 5 == 0 || (i % 5 != 0 && i == len))
            {
            @:</div>
        }
    }

@*//其中的两个绑定2个*@
@*@Html.RenderAction()--需要action*@

@*@Html.RenderPartial()--不需要action*@
@*@Html.Partial()
@Html.Action()*@

@*详情里绑定一个视频播放*@

@*<div>
        <span>2</span>
        <span>2</span>
        <span>2</span>

    </div>
    <div>
        <span>2</span>
        <span>2</span>
        <span>2</span>
    </div>

    <div>

        <span>2</span>
    </div>*@
