
<div>
    <h3>data.model.chaptername</h3>
    <video width='800' height='600' controls>
        <source src="@Url.Content("~/api/VideoApi/get?id=")data.model.videocode">
        Your browser does not support HTML5 video.
    </video>
    <div>
        <button onclick='window.location.reload();' align='center' style='border: 1px solid blue; width:100px; height:100px'>返回</button>
    </div>
</div>