@{

    var user = ViewBag.userObj as Mooc.Data.Entities.User;
}


    @if (user != null)
    {
        <div class="dorp">
            <span>
                <img src="@Url.Content("~/Home/Show?filename="+user.ImgGuid)" style="width:45px" />
            </span>
            <div class="dorp_con">
                <a href="@Url.Content("~/usercenter/person?id="+user.ID)">用户中心</a>
                <br />
                <a href="@Url.Content("~/Login/LogOut")">退出登录</a>
            </div>
        </div>

    }
