@model Mooc.DataAccess.Entities.User
@*@using Mooc.DataAccess.Entities;

@model User;*@

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />

</head>
<body>

    <div class="message warning">
        <div class="inset">
            <div class="login-head">
                <h1>Login Form</h1>
            </div>
            <form>
                <ul>

                    <li>
                        <input type="text" placeholder="Username"><a class=" icon user"></a>
                    </li>
                   
                    <li>
                        <input type="password" placeholder="Password"> <a class="icon lock"></a>
                    </li>

                </ul>
                <div class="clear"> </div>
                
                <div class="submit">
                    <input type="submit" value="LoginResult">
                    <h4><a href="#">Lost your Password ?</a></h4>
                    <div class="clear">  </div>
                </div>


            </form>
            <div style="margin-top: 20px;height: 40px">
                @*@Html.ActionLink("注册","Index", "Regist",new { area = "",name ="123"})*@
                <a href="@Html.Action("Index","Regist")" style="color: white;font-family: Raleway, sans-serif;font-size: 22px;display: inline-block;">SignUp First</a>
                <a href="@Url.Content("~/Regist/Index")" style="color: white;font-family: Raleway, sans-serif;font-size: 22px;display: inline-block;">SignUp First</a>
            </div>
        </div>
    </div>
    ,
    <div class="clear"> </div>

</body>
</html>