
@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="panel panel-default panel-full">
        <div class="panel-heading panel-heading-padding">
            <h3 class="panel-title">课程列表</h3>
            <div class="panel-options">

                <a href="~/Admin/Course/Create" class="btn btn-gray">添加课程</a>
            </div>
        </div>
        <div class="panel-body">

            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                        <th>

                            CourseName
                        </th>
                        <th>

                            CourseDetail
                        </th>
                        <th>

                            Teacher Name
                        </th>
                        <th>

                            Category Name
                        </th>
                        <th>

                            Status
                        </th>
                        <th>

                            Add Time
                        </th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="middle-align" id="dataBind"></tbody>
            </table>
            <div>
                <ul id="divPagination" class="pagination" style="margin:10px 0px;"></ul>
            </div>


            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                        
                    </tr>
                </thead>
                <tbody class="middle-align" id="chapterbind"></tbody>
            </table>


        </div>
    </div>
</div>
<input type="hidden" id="PageIndex" value="1" />
<script src="~/Scripts/jqPaginator.js"></script>
<script>

    var pageSize = 2;
    search();

        function search() {

            var pageIndex = $("#PageIndex").val();
            $.ajax({
                url: "@Url.Content("~/Admin/Course/GetCourseList")",
                data: { "pageIndex": pageIndex, "pageSize": pageSize },
                type: "POST", dataType: 'json',
                success: function (res) {
                    var pageCount = res.PageCount == 0 ? 1 : res.PageCount;
                    $("#divPagination").jqPaginator({
                        totalPages: parseInt(pageCount),
                        visiblePages: 10,
                        currentPage: parseInt(pageIndex),
                        onPageChange: function (num, type) {
                            $('#PageIndex').val(num);
                            if ($('#divPagination .active').eq(0).attr('jp-data') !== num.toString()) {
                                search();
                            }
                        }
                    });
                    var _html = "";
                    for (var i = 0; i < res.data.length; i++) {

                        var item = res.data[i];
                        _html += "<tr>";
                        _html += "<td>" + item.CourseName + "</td>";
                        _html += "<td>" + item.CourseDetail + "</td>";
                        _html += "<td>" + item.TeacherName + "</td>";
                        _html += "<td>" + item.CategoryName + "</td>";
                        _html += "<td><button id='statuebutton' onclick='ChangeStatue(" + item.ID + ")'>" + item.CourseStatus + "</button></td>";
                        

                        
                         _html += "<td>" + item.CreateDate + "</td>";

                        _html += "<td><a href='@Url.Content("~/Admin/Course/Edit/")" + item.ID + "' class = 'fa-pencil-square-o' style = 'font-size:20px'></a>";

                        _html += "<a href='javascript:void(0);' onclick='SearchChapter(" + item.ID + ")' class = 'fa-trash' style = 'font-size:20px;margin-left:10px;'></a>";
                     
                        _html += "<a href='javascript:void(0);' onclick='Delete(" + item.ID + ")' class = 'fa-trash' style = 'font-size:20px;margin-left:10px;'></a></td>";
                      
                        _html += "</tr>";
                        _html += "</BR>";

                       

                    }

                    $("#dataBind").html(_html);
                         }
               })
    }



    function SearchChapter(id) {
        
            $.ajax({
                url: "@Url.Content("~/Admin/course/searchchapter")",
                data: {"ID":id},
                type: "POST", dataType: 'json',
                success: function (res) {
                   
                    var _chtml = "";
                    for (var i = 0; i < res.chapters.length; i++) {

                        var item = res.chapters[i];
                        

                        _chtml += "<tr>";
                        _chtml += "<td>" + item.ChapterName + "</td>";
                        _chtml += "<td>" + item.ChapterDetails + "</td>";
                        _chtml += "<td>" + item.CourseName + "</td>";
                        _chtml += "<td>" + item.UpdateDate + "</td>";
                        _chtml += "<td>" + item.VideoGuid + "</td>";
                        _chtml += "<td>" + item.CreateDate + "</td>";
                        
                        _chtml += "</tr>";
                    }

                    $("#chapterbind").html(_chtml);
                         }
               })
    }




    function ChangeStatue(id) {


         $.ajax({
            url: "@Url.Content("~/Admin/Course/ChangeStatus")",
            data: { "ID":id},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {

                    if (data.changestatue == 1) {
                        document.getElementById('statuebutton').innerHTML = "已上架";
                        document.getElementById('statuebutton').style.color = "green";
                        
                    }

                    if (data.changestatue == 2) {
                       document.getElementById('statuebutton').innerHTML = "已下架";
                       document.getElementById('statuebutton').style.color = "red";
                        
                    }


                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })
    };


    function Delete(id) {

        if (confirm("确定删除当前数据么?")) {


        }

    }
</script>
