
@{
    ViewBag.Title = "List";
}

<div class="row">
    <div class="panel panel-default panel-full">
        <div class="panel-heading panel-heading-padding">
            <h3 class="panel-title">类型列表</h3>
            <div class="panel-options">

                <a href="~/Admin/Category/Create" class="btn btn-gray">添加</a>
            </div>
        </div>
        <div class="panel-body">

            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                        <th>

                            类型名称
                        </th>
                        <th>

                            父类型
                        </th>
                        <th>
                            1/2级分类
                            
                        </th>
                        <th>

                            备注
                        </th>
                        <th>

                            添加时间
                        </th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="middle-align" id="dataBind"></tbody>
            </table>
            <div>
                <ul id="divPagination" class="pagination" style="margin:10px 0px;"></ul>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="PageIndex" value="1" />
<script src="~/Scripts/jqPaginator.js"></script>
<script>

    var pageSize = 5;
    search();

        function search() {

            var pageIndex = $("#PageIndex").val();
            $.ajax({
                url: "@Url.Content("~/Admin/Category/PageList")",
                data: { "pageIndex": pageIndex, "pageSize": pageSize },
                type: "POST", dataType: 'json',
                success: function (res) {
                    var pageCount = res.PageCount == 0 ? 1 : res.PageCount;
                    $("#divPagination").jqPaginator({
                        totalPages: parseInt(pageCount),
                        visiblePages: 10,
                        currentPage: parseInt(pageIndex),
                        onPageChange: function (num, type) {
                            $('#PageIndex').val(num);
                            if ($('#divPagination .active').eq(0).attr('jp-data') !== num.toString()) {
                                search();
                            }
                        }
                    });
                    var _html = "";
                    for (var i = 0; i < res.data.length; i++) {

                        var item = res.data[i];
                        var Parent = "";
                        _html += "<tr>";
                        _html += "<td>" + item.CategoryName + "</td>";
                        if (item.ParentId == 0 || item.ParentId == null) {
                            Parent = "无父类";
                        } else {
                            for (var j = 0; j < res.data.length; j++) {
                                if (item.ParentId == res.data[j].ID) {
                                    Parent = res.data[j].CategoryName;
                                    break;
                                };
                            };
                        };
                        _html += "<td>" + Parent + "</td>";
                        _html += "<td>" + item.TypeName + "</td>";
                        _html += "<td>" + item.Remark + "</td>";
                        _html += "<td>" + item.CreateDate + "</td>";

                        _html += "<td><a href='@Url.Content("~/Admin/Category/Edit/")" + item.ID + "' class = 'fa-pencil-square-o' style = 'font-size:20px'></a>";

                        _html += "<a href='javascript:void(0);' onclick='Delete(" + item.ID + ")' class = 'fa-trash' style = 'font-size:20px;margin-left:10px;' title='删除类别'></a></td>";
                        _html += "</tr>";
                    }

                    $("#dataBind").html(_html);
                         }
               })
    }


        function Delete(id) {

        if (confirm("确定删除当前类型么?")) {
             $.ajax({
            url: "@Url.Content("~/Admin/Category/DeleteCategory")",
            data: {"DeleteID":id},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    alert("类别删除成功");
                    window.location = "@Url.Content("~/Admin/Category/List")";
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })

        }

    }



</script>